<header>
    <div class="header-main-container">
    <section class="heading">
        <h1>Laulhé</h1>
        <p>Real Estate</p>
    </section>

    <section class="navbar">
        <nav>
            <ul>
                <li>Venta</li>
                <li>Alquiler</li>
                <li>Sobre Nosotros</li>
                <li>Contacto</li>
                <li>Sign In</li>
            </ul>
        </nav>
    </section>
    <div>
        <i class="fa-sharp fa-solid fa-bars"></i>
    </div>
</div>
</header>