<%- include('./partials/head', { title: 'Inicio - Laulhé Real Estate' }) %>

<body>
    <%- include('./partials/header') %>
    <main>
        <section>
            <div class="container">
                <h3>Encontra tu lugar</h3>
            </div>
            <nav>
                <form action="#">
                    <input type="text">
                </form>
            </nav>
        </section>

        <h2>PRODUCTOS DESTACADOS</h2>
        <section class="products-container">
            <article class="item-container">
                <img src="/images/Libertador4668.jpg" alt="">
                <div class="product-detail-container">
                    <p>EN VENTA</p>
                    <p>Libertador 4600</p>
                    <p>USD650.000</p>
                </div>
            </article>
        </section>

    </main>
    <footer>

    </footer>
    
</body>
</html>